<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= article.title %> </h1>
    <h5>written by <%= article.author %> </h5>
    <p><%=article.body%></p>
    
</body>
<hr>
<button><a href="/article/edit/:id">Edit</a></button>
<footer>
    <p>copyright &copy; 2021</p>
 </footer>
</html>